<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>
</head>
<body>
<h1>Employee Directory</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}">Employee ID</td>
        <td th:text="${employee.firstName}">First Name</td>
        <td th:text="${employee.lastName}">Last Name</td>
        <td th:text="${employee.email}">Email</td>
    </tr>
    </tbody>
</table>
</body>
</html>
